@fa_path: "node_modules/font-awesome/less";
@import "@{fa_path}/variables.less";
@import "@{fa_path}/mixins.less";
@import "@{fa_path}/path.less";
@import "@{fa_path}/core.less";
@import "@{fa_path}/icons.less";

@import "style/variables";

@import "style/global/global-scaffolding";

@import "style/mobile";

.top {
  background-color: @white;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  &__title {
    padding: 0.5em 1em;
    font-size: 1.6em;
    color: @color-main;
  }
}

.container {
  overflow: hidden;
  width: calc(~'100% - 20px');
  height: calc(~'100% - 4.8em');
  margin: 10px auto;
  box-sizing: content-box;
  background-color: @white;
  display: flex;
  flex-grow: 1;
}

.users {
  transition: ease 0.5s;
  position: relative;
  min-height: 100%;
  min-width: 250px;
  border-right: 1px solid @color-border;
}

.search {
  max-width: 100%;
  display: flex;
  padding: 0.5em 1em;
  border-bottom: 1px solid @color-border;

  &__icon {
    color: #748796;
    line-height: 2em;
    margin-right: 0.5em;
  }
  &__input {
    width: 100%;
    height: 3em;
    &:focus {
      outline-style: none;
    }
    &::placeholder {
      color: @text-color-gray;
      font-size: 1em;
    }
    border: none;
  }
}

.list {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }
}

.item {
  cursor: pointer;
  border-bottom: 1px solid @color-border;
  padding: 1em;

  &:first-child {
    border-top: none;
  }
  &__img {
    display: block;
    width: 50px;
  }
  &__name {
    cursor: inherit;
    font-size: 1em;
  }
  &__message {
    cursor: inherit;
    font-size: 0.8em;
  }
  &__time {
    cursor: inherit;
    font-size: 0.8em;
    font-style: italic;
    float: right;
  }
  &--active,
  &:hover {
    background-color: #599cca;
    color: @white;
  }
}

.messenger {
  transition: ease 0.5s;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  &__title {
  }

  &__view {
  }
}

.top-bar {
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid @color-border;

  &__back {
    display: none;
    padding: 0 12px 0 0;
  }

  &__name {
    margin-right: 8px;
    display: inline-block;
    font-size: 1.3em;
  }
  &__last-online {
    display: inline-block;
    font-size: 0.9em;
    color: @text-color-gray;
    font-style: italic;
  }
}

.messenger__view {
  height: calc(~'100% - 11.3em');
  overflow-y: scroll;
  padding: 1.6em;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.other {
  position: relative;
  display: block;
  width: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &__item {
    float: left;
    margin-left: 60px;
    max-width: calc(~'50% - 40px');
    background-color: @color-fade-red;
  }

  &__avatar {
    display: block;
    width: 40px;
    height: 40px;
    display: inline;
    float: left;
    position: absolute;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;

    &:after {
      content: "";
      width: 0;
      height: 0;
      top: 10px;
      left: 50px;
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid @color-fade-red;
    }
  }
}
.self {
  display: block;
  width: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &__item {
    float: right;
    max-width: 50%;
    background-color: @color-green;
  }
}
.message {
  margin-top: 10px;
  border-radius: 3px;
  padding: 10px 10px 20px 10px;
  clear: both;

  &:first {
    clear: none;
  }

  &__text {
    color: @text-message-color;
  }

  &__time {
    float: right;
    font-size: 0.9em;
    font-style: italic;
    color: @text-color-gray;
  }
}

.text-input {
  width: 100%;
  background-color: @white;
  box-sizing: border-box;
  padding: 1.2em;
  position: absolute;
  border-top: 1px solid @color-border;
  bottom: 0;
  display: flex;

  &__input {
    box-sizing: border-box;
    border: 1px solid @color-input-border;
    border-radius: 3px;
    vertical-align: middle;
    height: 2.5em;
    padding: 0.6em 1em;
    width: 100%;
  }

  &__send {
    width: 70px;
    box-sizing: border-box;
    border: 1px solid @color-input-border;
    border-radius: 3px;
    vertical-align: middle;
    height: 2.5em;
    background-color: #ebe6eb;
    color: @color-blue;
    margin-left: 7px;
  }
}
