@import "style/variables";

@media screen and (max-width: @screen-md) {
  .container {
    margin: 10px 0 0 0;
    width: 100%;
    height: calc(~'100% - 4.1em');
  }

  .messenger {
    flex: 0 0 calc(~'100%');
    transform: translateX(-250px);
  }

  .users {
    transform: translateX(-100%);
  }

  .top-bar {
    &__back {
      display: inline-block;
      cursor: hand;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .other {
    &__item {
      max-width: calc(~'70% - 40px');
    }
  }
  .self {
    &__item {
      max-width: 70%;
    }
  }
}
