@color-main: #8a3258;
@white: #fff;
@black: #000;

@color-background: #ebe6eb;
@color-green: #cffae1;
@color-fade-red: #f2eef2;
@color-blue: #438be0;

@color-border: #ebe6eb;
@color-input-border: #d3dbe2;
@text-color-gray: #d7dce2;

@text-message-color: #4b3549;

@text-color--muted: #919191;
@font-size: 1.6rem;
@font-size--h1: 3rem;
@font-size--small: 0.75em;

@line-height: 1.375em;

@font-family: 'Roboto', Arial, sans-serif;

@font-face {
  font-family: 'cblockbold';
  src: url('static/public/fontawesome-webfont.ttf');
}

@screen-xs: 0;
@screen-sm: 480px;
@screen-md: 768px;
@screen-lg: 992px;
@screen-xl: 1200px;
